body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 10px;
}

table {
    width: 50%;
    margin: 10px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 0px solid black;
}

th, td {
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

h1 {
    color: #333;
}

p {
    color: #333;
}